.content {
    display: flex;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    padding: 8px;

    > div {
        > div + div {
            margin-top: 4px;
        }
    }
    button {
        margin-left: auto;
        margin-top: 4px;
        margin-right: 8px;
        display: block;
        width: 120px;
    }
}
